.insert.note.note--full-width
    p.note__text.note__text--full-width Чем медленнее происходит исправление формы ногтя, тем лучше результаты корректировки и меньше процент рецидивов. При применении техник ортониксии процент рецидивов составляет менее 1% (сравнительное исследование Йёрга Харрера и Норберта Шольца. Германия, 1971−2002). Средние сроки ношения корректирующих систем — 12−18 месяцев, максимум до 5 лет. В некоторых случаях возможны показания к постоянному ношению.
    .request
        button.request__button.g-button Записаться на коррекцию
        .request__phone или по телефону +7 (343) 385−86−06