.note
	position: relative;
	padding: 25px;
	margin-top: 78px;
	width: 660px;
	border: 2px solid $c-first;
	box-shadow: 3px 3px 0px $c-first;

	&--full-width
		width: 1000px;
		margin: 45px auto 0 auto;
		text-align: center;
		padding: 32px 20px 37px 20px;

	&__title
		position: absolute;
		top: -15px;
		padding: 1px 8px;
		font-size: 20px;
		font-weight: 800;
		font-variant: small-caps;
		background-color: $c-first;
		display: inline-block;
		color: #fff;

	&__text
		font-size: 16px;
		line-height: 24px;

	&__text--full-width
		font-size: 20px;
		line-height: 26px;
		margin-bottom: 22px;