.contacts
	width: 1000px;
	margin: 0 auto;
	padding-top: 41px;

	a
		color: $c-first;

	&__list
		display: flex;
		justify-content: space-between;

	&__item
		width: 765px;
	&__title
		font-size: 15px;
		line-height: 24px;
	//&__text

	&__map
		margin-top: 9px;
		height: 400px;
		width: 100%;
		background: url('../images/map.png') no-repeat;