-
    terms = [
    {'term': 'Неправильно подобранная обувь', 'definition': 'Недачно подобранная  — слишком узкая. Малого размера — сдавливание. Большого размера — удар носка. Плоская обувь с небольшой опорой, например спортивные тапочки. Обувь на платформе, детям до 15 лет она запрещена. Обувь без задников.'},
    {'term': 'Утягивающие колготки или компрессионный трикотаж', 'definition': ''},
    {'term': 'Неправильный уход за ногтями', 'definition': 'Слишком короткое, косое обрезание, забытый угол.'},
    {'term': 'Деформации стопы', 'definition': 'Деформации стопы вследствие травмы, плоскостопие, косолапость, пяточные шпоры, искривления пальцев (ортопедически неправильное положение) и прочие.'},
    {'term': 'Дисплазии и дистрофии', 'definition': 'Дисплазии — врожденные изменения: ногти в форме часовых стекол, закрученные, клещевые ногти. Дистрофии — приобретенные изменения.'},
    {'term': 'Избыточный вес', 'definition': ''},
    ]
    reasons_list_one = ["Нарушение обмена веществ, прием некоторых лекарств;", "нарушение кровообращения;", "онихогрифоз, онихомикоз, псориатические ногти;", "пожилой возраст."]
    reasons_list_two = ["Сахарный диабет;", "системные гиперкератозы;", "гипергидроз (повышенное потоотделение), в основном у подростков;", "инфекция;", "беременность;", "недостаточная гигиена ног;", "способы решения проблемы вросшего ногтя."]
.reasons
    .reasons__column
        h3.reasons__title внешние причины
        dl.reasons__terms
            for items in terms
                dt.reasons__term=items.term
                dd.reasons__definition=items.definition
    .reasons__column
        h3.reasons__title внутренние причины
        ul.reasons__list
            for item in reasons_list_one
                li.reasons__item=item
        h3.reasons__title дополнительные факторы
        ul.reasons__list
            for item in reasons_list_two
                li.reasons__item=item