body
    font: 20px/26px $f-primary;
    color: #000;

.g-button
    display: inline-block;
    padding: 13px 33px;
    margin: 0 auto;
    font-size: 20px;
    color: #fff;
    background-color: $c-first;

    &:hover
        background-color: #c18480;
