$f-primary = 'Circe',sans-serif;

$c-bg = #dae4f4;
//
$c-first = #28366b;
$c-bg-blue = #dae4f4;
//$c-first-light = #54af3a;
//$c-first-dark = #00793a;
//
//$c-second = #f39314;
//$c-second-light = #f59d0e;
//$c-second-dark = #e85222;
