.important
	position: relative;
	width: 1000px;
	margin:0 auto;
	padding-top: 118px;

	&__image
		position: absolute;
		right:-95px;
		top:50px;

	&__title
		font-size: 80px;
		font-weight: 800;
		line-height: 80px;
		color: #000;

		span
			color: $c-first;