.important
    h2.important__title Почему появляется <br>
        span вросший ноготь
    img(src="assets/images/thumb.png").important__image
    .note
        h3.note__title важно знать
        p.note__text Вросший ноготь и деформированный ноготь — не одно и тоже. При вросшем ногте форма изгиба ногтевой пластинки может быть нормальной. Деформированный ноготь всегда имеет ненормальный патологический изгиб. Не каждый деформированный ноготь может быть вросшим, но при этом каждый деформированный ноготь «мечтает стать вросшим». В то же время не каждый вросший ноготь может быть деформированным.
