.views
    .views__header
        h2 Виды скоб
        p Мы корректируем вросший ноготь с 2009 года и знаем, что ортониксические скобы по индивидуальному заказу — не продукт массового производства, а тонкая высококвалифицированная работа!

    .views__list
        .views__item(id="img1")
            .views__image.views__image--image-1
            .views__description Скоба Фрезера с петлёй Омега по центру (0,5мм). Применяется в большинстве случаев.
            a(href="javascript://").views__link Повернуть

        .views__item(id="img2")
            .views__image.views__image--image-2
            .views__description Скоба Фрезера со смещённой петлёй Омега (0,4мм). Применяется в том числе и при исправлении односторонней деформации.
            a(href="javascript://").views__link Повернуть

        .views__item(id="img3")
            .views__image.views__image--image-1
            .views__description Скоба Фрезера с двумя петлями Омега (0,5мм). Применяется в том числе и при исправлении двухсторонней деформации и скрученных ногтях.
            a(href="javascript://").views__link Повернуть

        .views__item(id="img4")
            .views__image.views__image--image-2
            .views__description Простая скоба (0,3мм). Применяется редко в особых случаях.
            a(href="javascript://").views__link Повернуть

        .views__item(id="img5")
            .views__image.views__image--image-1
            .views__description Скоба 3TO®. Состоит из трёх частей. Применяется в сложных случаях и рекомендована при диабете.
            a(href="javascript://").views__link Повернуть