doctype html
html(lang="ru-RU")
	include ../head/head
	body
		//- Служебные переменные
		block settings

		//- Шапка
		include ../header/header

		//- Контентные блоки
		block content

	
		//- Подвал
		include ../footer/footer

		//- Скрипты
		script(src="assets/scripts/general.min.js")
