.footer
	width: 1000px;
	margin: 0 auto;
	padding-top: 18px;
	padding-bottom: 25px;
	display: flex;
	justify-content: space-between;

	&__image
		background: url('../images/developer.png');
		height: 35px;
		width:126px;

	&__developer
		display: flex;

		span
			margin-left: 3px;
			font-size: 12px;
			color: $c-first;
			line-height: 1em;

	&__self
		font-size: 16px;
		line-height: 20px;

		a
			color: $c-first;
			border-bottom: 1px solid rgba(40, 54, 107, 0.5);;
			display: inline-block;
			line-height: 1em;

		span
			display: block;