.first
    img(src="assets/images/logo.png").first__logo
    h1.first__title Вросший ноготь
    .first__description Хроническое заболевание мягких тканей пальца, вызванное травмированием околоногтевых валиков краями ногтевой пластины с образованием раны и развитием воспаления.
    .request
        a(href="javascript://").request__button.g-button Записаться на коррекцию
        .request__phone или по телефону +7 (343) 385−86−06
