.first
	text-align: center;
	background-color: $c-bg;
	padding: 67px 0 90px 0;

	&__logo
		margin-bottom: 45px;

	&__title
		font-size: 80px;
		font-weight: 800;
		line-height: 80px;
		color: $c-first;


	&__description
		max-width: 831px;
		margin: 15px auto 32px auto;