-
    items = [
    {'title': 'Хирургическое лечение', 'description': 'Существует более 150 различных методик хирургического лечения вросшего ногтя. Наиболее распространенной и эффективной операцией является операция Эммерта (Emmert). Эта методика официально признана в Германии. В России она более известна как «краевая резекция ногтевой пластинки». Выполняется эта операция амбулаторно, в условиях операционной, врачами-хирургами, под местной анестезией.'},
    {'title': 'Консервативные мероприятия', 'description': 'Нехирургическое лечение (собственно, терапия) осуществляется физическими, химическими и биологическими методами. В нашем случае это мероприятия, направленные на снятие болевого синдрома и скорейшей остановки раневого процесса (перевязки, тампонады и др.).'},
    ]
.methods
    h2.methods__title Методы решения
    for item in items
        .methods__items
            .methods__title-wrapper
                h3.methods__item-title=item.title
            .methods__description-wrapper
                p.methods__item-description=item.description
    .methods__items.methods__items--prior
        .methods__title-wrapper
            h3.methods__item-title Ортониксия
            .methods__item-subtitle Современный метод коррекции вросшего ногтя
        .methods__description-wrapper
            p.methods__item-description Ortho — прямой, Onyx — ноготь (греч). Эта наука берет свое начало в 60-х годах 20 века. Основоположником этой дисциплины является Шотландский дантист Росс Фрезер, который применил знакомые методики стоматологии (брекеты) для коррекции формы ногтей. Он и ввел термин «Ортониксия» в практику. Эта техника «оберегает» от хирургических вмешательств, т.е. это «последний этап на пути пациента к хирургу».
            p.methods__item-description Техника скоб представляет собой процесс, при котором усиленное давление бокового края ногтя на мягкие ткани снижается за счет применения корректирующих систем, которые устанавливаются и закрепляются на ногте. Применяется также для деформированных ногтей, которые по мере своего роста принимают ту форму, которая была до возникновения проблемы.
            .request.methods__request
                a(href="javascript://").request__button.g-button Записаться на коррекцию
                .request__phone.request__phone--horizontal или по телефону +7 (343) 385−86−06