.methods
	width: 1000px;
	margin: 0 auto;
	padding-top: 45px;

	&__items
		margin-top:34px;
		display: flex;

		&--prior
			background-color: $c-bg-blue;
			margin: 42px -30px 0 -30px;
			padding: 11px 30px 30px 30px;


	&__title
		font-size: 60px;
		line-height: 80px;
		font-weight: 800;

	&__title-wrapper
		margin-right: 20px;

	&__item-title
		margin-top: 8px;
		font-size: 28px;
		line-height: 36px;
		font-weight: bold;
		width:235px;
		display: block;

	&__item-description
		display: block;
		margin-top: 9px;

	&__item-subtitle
		font-size: 16px;
		line-height: 19px;
		color:#060606;

	&__request
		margin-top: 24px;
